<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/style.css}" rel="stylesheet"/>
</head>
<body style="font-family: Lucida Console, Monaco, Monospace; line-height: 150%;  text-align: center; font-size: 12px;">
<h2 style="margin-bottom: 40px; margin-top: 40px;">Сервис по обработке событий<br>"Explore with Me"</h2>

<div class="container">
    <div class="num">1</div>
    <h3>User functional</h3><br>
    <a class="referency" href="/findUserParams"> Получить список пользователей</a>
    <a class="referency" href="/userCreateForm"> Создать пользователя</a>
    <a class="referency" href="/deleteUserParams"> Удалить пользователя</a>
</div>

<div class="container">
    <div class="num">2</div>
    <h3>Category functional</h3><br>
    <a class="referency" href="/findCategoryParams"> Получить список категорий</a>
    <a class="referency" href="/categoryCreateForm"> Создать категорию</a>
    <a class="referency" href="/updateCategory"> Обновить категорию</a>
    <a class="referency" href="/deleteCategoryParams"> Удалить категорию</a>
    <a class="referency" href="/findCategoryByIdForm"> Поличть по идентификатору</a>
</div>

<div class="container">
    <div class="num">3</div>
    <h3>Events functional</h3><br>
    <a class="referency" href="/findEvents"> Получить список событий</a>
</div>

<div class="container">
    <div class="num">4</div>
    <h3>Requests functional</h3><br>
    <a class="referency" href="#"> Получить </a>
</div>

<div class="container">
    <div class="num">5</div>
    <h3>Rate functional</h3><br>
    <a class="referency" href="#"> Получить </a>
</div>
</body>
</html>