<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>

<div class="container">
    <h3>User search page form</h3>
    <form th:action="@{http://localhost:8080/admin/users}" th:method="get">
        <p>Page include user id: <input type="number" th:name="from"/></p>
        <p>Page size<input type="number" th:name="size"/></p>
        <input type="submit"/>
    </form>
</div>

</body>
</html>