<div th:fragment="footer" >
    <footer style="text-align: right;" class="p-3 text-bg-dark">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- VK -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://vk.com/abst147" role="button"><i
                    class="fab fa-vk"></i></a>

            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.google.ru" role="button"><i
                    class="fab fa-google"></i></a>

            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/SychMaf" role="button"><i
                    class="fab fa-github"></i></a>

            <!-- Telegram -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://t.me/SychMaf" role="button"><i
                    class="fab fa-telegram"></i></a>
        </section>
        <!-- Section: Social media -->
    </footer>
</div>