<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/style.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
<h3>Create category</h3>
    <form action="#" th:action="@{/createCategory}" th:object="${inputCategoryDto}" th:method="post">
        <p>Name: <input type="text" th:field="*{name}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</div>
</body>
</html>

